### Test Description

The clientâ€™s goal is to understand the following topics:
* Number of orders (monthly chart)
* The size of an order - The average revenue coming from one average order (monthly chart)
* The average number of orders per customer - how many orders in average do customers monthly (monthly chart)
* How many customers made only 1 order? (number)
* How many customers made 2 and more orders? (number)

### 1. Data consistency check

In [8]:
import pandas as pd
df = pd.read_csv('input/data.csv',encoding = 'unicode_escape')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [12]:
df.shape

(541909, 8)

In [15]:
df.groupby(df['InvoiceDate'].dt.strftime())['Quantity'].sum().sort_values()

AttributeError: Can only use .dt accessor with datetimelike values

### Charts preparation

In [ ]:
# Common font style for all charts
font = {'family': 'serif',
        'color':  'black',
        'weight': 'normal',
        'style': 'italic',
        'size': 14,
        }

### Insight presentation

In [ ]:
# number of orders - barchart

In [ ]:
# size of an order - boxplot

In [ ]:
# customers made only 1 order and 2+ orders - piechart