## Budget optimizer dashboard

In [2]:
# 
import pandas as pd
import sys
import json
import ipywidgets as widgets
encoding = sys.getdefaultencoding()

import plotly.express as px
import plotly.graph_objects as go
pd.options.plotting.backend = "plotly"

In [4]:
df = pd.read_csv('MarketingReport_3.csv', sep="\t")
df.head(5)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,account,businessUnit,periodCode,reportGranularity,salesChannel,platformId,platformCode,channelId,channelCode,tagCodes,...,conversions,deliveries,netRevenue,grossProfit,currencyCode,appliedAttributionModel,views,adGroup,newConversions,periodStartDate
0,audiopartner,kytaryro,20190101,Daily,online,280_unpaid,unpaid,280_direct,direct,NaN,...,1,0,0.0,0.00,CZK,lastTouch,0,(not set),1,2019-01-01T00:00:00.0000000
1,audiopartner,kytaryro,20190101,Daily,online,280_adwords,AdWords,280_googleadsdsother,googleadsdsother,NaN,...,0,0,0.0,0.00,CZK,lastTouch,0,(not set),0,2019-01-01T00:00:00.0000000
2,audiopartner,kytaryro,20190101,Daily,online,280_unpaid,unpaid,280_organic,organic,NaN,...,1,1,1997.8,348.94,CZK,lastTouch,0,(not set),1,2019-01-01T00:00:00.0000000
3,audiopartner,kytaryro,20190101,Daily,online,280_compari,Compari,280_compari,compari,NaN,...,0,0,0.0,0.00,CZK,lastTouch,0,NaN,0,2019-01-01T00:00:00.0000000
4,audiopartner,kytaryro,20190101,Daily,online,280_adwords,AdWords,280_googleadsdsother,googleadsdsother,NaN,...,0,0,0.0,0.00,CZK,lastTouch,0,(not set),0,2019-01-01T00:00:00.0000000

In [5]:
compaigns = df.adCampaign.unique().tolist()
platform_code = df.platformCode.unique().tolist()
channel_code = df.channelCode.unique().tolist()

In [6]:
df['periodStartDate'] = pd.to_datetime(df['periodStartDate'])

In [9]:
group_data = df.groupby(['periodStartDate']).agg({'netRevenue':'sum',
                                                 'marketingInvestment':'sum',
                                                 'visits':'sum',
                                                 'conversions':'sum',
                                                 'deliveries':'sum',
                                                 'impressions':'sum',
                                                 'clicks':'sum',
                                                 'grossProfit':'sum'})
group_data.head(5)

,netRevenue,marketingInvestment,visits,conversions,deliveries,impressions,clicks,grossProfit
periodStartDate,,,,,,,,
2019-01-01,476686.51,51595.28,26966,242,211,931859,18285,112505.45
2019-01-02,1413016.65,58245.27,34471,538,472,1036382,19863,317327.24
2019-01-03,1535926.14,55986.39,32919,474,432,950725,18842,357048.50
2019-01-04,2798999.31,47078.09,34258,882,805,855437,16578,645743.22
2019-01-05,1311820.45,38706.44,28298,535,481,714328,13891,381255.45

In [10]:
group_data['ROI'] = (group_data['grossProfit']/group_data['marketingInvestment'])*100
group_data['CPI'] = (group_data['marketingInvestment']/group_data['deliveries'])*100
group_data.head(5)

,netRevenue,marketingInvestment,visits,conversions,deliveries,impressions,clicks,grossProfit,ROI,CPI
periodStartDate,,,,,,,,,,
2019-01-01,476686.51,51595.28,26966,242,211,931859,18285,112505.45,218.053764,24452.739336
2019-01-02,1413016.65,58245.27,34471,538,472,1036382,19863,317327.24,544.812034,12340.099576
2019-01-03,1535926.14,55986.39,32919,474,432,950725,18842,357048.50,637.741601,12959.812500
2019-01-04,2798999.31,47078.09,34258,882,805,855437,16578,645743.22,1371.642775,5848.209938
2019-01-05,1311820.45,38706.44,28298,535,481,714328,13891,381255.45,984.992291,8047.076923